html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__1 {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  height: 80vh;
  color: white;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 4;
  gap: 1rem;
}

.header {
  grid-column: 1 / 4;
  background-color: green;
}

.sidebar {
  grid-row: 2/4;
  grid-column: 3 / 4;
}

.footer {
  grid-row: 4/5;
  grid-column: 1/4;
}

.part__3{
    grid-column: 1 / 3;
}

.header,
.sidebar,
.footer,
.part__1,
.part__2,
.part__3 {
  background-color: green;
}
