html, body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section--hero{
    background-color: rgb(240, 216, 171);
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    height: 30rem;
    font-size: 2rem;
}

.hero--img img{
    width: 100%;
    height: 100%;
}

.btn{
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: peru;
    margin-left: 0.5rem;
    border-radius: 1rem;
    color: black;
    transition: all 1s;
}

.btn:hover{
    background-color: chocolate;
    box-shadow: inset 0 0 0 2px white;
}